@font-face {
    font-family:"x12y16pxMaruMonica" ;
    src: url("x12y16pxMaruMonica.ttf");
}
#healthBar {
    -fx-accent: #1ecbe1;
    -fx-indeterminate-bar-length: 0;

}
#healthBar .bar {
    -fx-padding: 10px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
#healthBar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: #e1341e;
}

#characterCreationGrid {
    -fx-padding:50%;
}
#characterCreationTitle {
    -fx-text-fill:white;
    -fx-font-family:'x12y16pxMaruMonica',"Lao MN";
    -fx-font-size:40;
}
#ccButton {
    -fx-font-family:'x12y16pxMaruMonica';
    -fx-background-color:transparent;
    -fx-text-fill:black;
    -fx-pref-width: 300px;
    -fx-font-size:40px;
}
#ccButton:hover {  /* when hovered */
    -fx-text-fill:#B68D40;
}
#ccButton:pressed { /* when the button is pressed, it increases the size*/
    -fx-scale-x:1.1;
    -fx-scale-y:1.1;
}



